.nav-wrapper {
  height: 134px;
  width: 100%;
  position: relative;
}
.nav-wrapper nav {
  max-width: 1280px;
  height: 134px;
  margin: 0 auto;
  border-bottom: solid 3px #FC5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-wrapper .links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-wrapper .links a {
  text-decoration: none;
  color: #00879E;
  font-size: 16px;
}
.nav-wrapper .links a:hover {
  color: #FC5000;
}
.nav-wrapper .links a:active {
  color: #FC5000;
}

@media only all and (max-width: 1280px) {
  .nav-wrapper nav {
    padding: 0 20px;
    width: 80%;
  }
}
@media only all and (max-width: 480px) {
  .nav-wrapper nav {
    padding: 0 20px;
    width: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

html, body {
  height: 100%;
  font-family: CustomArial;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "CustomArial";
  src: url(../images/Fonts/Fonts/arial.ttf);
}
.events-hero {
  max-width: 1200px;
  margin: 139px auto 137px auto;
}
.events-hero span {
  font-size: 32px;
  border-bottom: solid black 2px;
  padding-right: 200px;
}
.events-hero .events-image {
  margin-top: 63px;
  max-width: 1200px;
  height: 484px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 135, 158, 0.4)), to(rgba(0, 135, 158, 0.4))), url(../images/bloghero.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 135, 158, 0.4), rgba(0, 135, 158, 0.4)), url(../images/bloghero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.events {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  max-width: 1200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.events .event {
  width: 500px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.events .event .date {
  width: 100px;
  height: 100px;
  background-color: #FC5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.events .event .event-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 258px;
}
.events .event .event-details .event-title {
  margin-top: -20px;
  font-size: 16px;
  font-weight: bold;
}
.events .event .event-details .event-description {
  height: 110px;
  font-size: 16px;
}

@media (max-width: 1280px) {
  .events-hero {
    margin: 40px auto 40px auto;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .events-hero .events-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px auto;
    max-width: 700px;
  }
  .events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    margin: 30px auto;
  }
}
@media (max-width: 840px) {
  .events-hero {
    max-width: 500px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .events-hero .events-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px auto;
    max-width: 450px;
  }
  .events {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px auto;
  }
  .events .event .date {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .events .event .event-details {
    max-width: 200px;
  }
  .events .event .event-details .event-description {
    height: 200px;
    font-size: smaller;
    margin-left: -200px;
  }
}
footer {
  width: 100%;
  height: 556px;
  background-color: #00879E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .centered-content {
  text-align: center;
}
footer .centered-content .contact-info {
  margin-top: 102px;
  margin-bottom: 44px;
  position: relative;
}
footer .centered-content .contact-info p {
  font-size: 16px;
  color: white;
  margin-bottom: 22px;
}
footer .centered-content .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}
footer .centered-content .signup input {
  height: 100%;
  width: 500px;
  background-color: white;
  border: none;
  color: black;
  opacity: 55%;
}
footer .centered-content .signup .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 150px;
  background-color: white;
  color: black;
}
footer .centered-content .socialbuttons {
  margin-top: 44px;
}
footer .centered-content .socialbuttons .icon {
  text-decoration: none;
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: white;
  margin-right: 68px;
}

@media only all and (max-width: 800px) {
  footer {
    height: 70%;
  }
  footer .centered-content .contact-info {
    margin-top: 60px;
  }
  footer .centered-content .signup input {
    width: 250px;
  }
  footer .centered-content .signup .button {
    width: 75px;
    font-size: 12px;
  }
}
@media only all and (max-width: 480px) {
  .signup input {
    width: 125px;
  }
  .signup .button {
    width: 38px;
    font-size: 8px;
  }
}