.nav-wrapper {
  height: 134px;
  width: 100%;
  position: relative;
}
.nav-wrapper nav {
  max-width: 1280px;
  height: 134px;
  margin: 0 auto;
  border-bottom: solid 3px #FC5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-wrapper .links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-wrapper .links a {
  text-decoration: none;
  color: #00879E;
  font-size: 16px;
}
.nav-wrapper .links a:hover {
  color: #FC5000;
}
.nav-wrapper .links a:active {
  color: #FC5000;
}

@media only all and (max-width: 1280px) {
  .nav-wrapper nav {
    padding: 0 20px;
    width: 80%;
  }
}
@media only all and (max-width: 480px) {
  .nav-wrapper nav {
    padding: 0 20px;
    width: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

html, body {
  height: 100%;
  font-family: CustomArial;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "CustomArial";
  src: url(../images/Fonts/Fonts/arial.ttf);
}
.hero {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 131, 13, 0.4)), to(rgba(233, 131, 13, 0.4))), url(/images/abstracthero.jpg);
  background-image: linear-gradient(to bottom, rgba(233, 131, 13, 0.4), rgba(233, 131, 13, 0.4)), url(/images/abstracthero.jpg);
  height: 668px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 94px;
}
.hero .centered-content {
  text-align: center;
}
.hero .centered-content h1 {
  height: 36px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

@media (max-width: 800px) {
  .hero {
    width: 100%;
    height: 50%;
  }
  .hero .centered-content h1 {
    padding: 10px;
  }
}
footer {
  width: 100%;
  height: 556px;
  background-color: #00879E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .centered-content {
  text-align: center;
}
footer .centered-content .contact-info {
  margin-top: 102px;
  margin-bottom: 44px;
  position: relative;
}
footer .centered-content .contact-info p {
  font-size: 16px;
  color: white;
  margin-bottom: 22px;
}
footer .centered-content .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}
footer .centered-content .signup input {
  height: 100%;
  width: 500px;
  background-color: white;
  border: none;
  color: black;
  opacity: 55%;
}
footer .centered-content .signup .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 150px;
  background-color: white;
  color: black;
}
footer .centered-content .socialbuttons {
  margin-top: 44px;
}
footer .centered-content .socialbuttons .icon {
  text-decoration: none;
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: white;
  margin-right: 68px;
}

@media only all and (max-width: 800px) {
  footer {
    height: 70%;
  }
  footer .centered-content .contact-info {
    margin-top: 60px;
  }
  footer .centered-content .signup input {
    width: 250px;
  }
  footer .centered-content .signup .button {
    width: 75px;
    font-size: 12px;
  }
}
@media only all and (max-width: 480px) {
  .signup input {
    width: 125px;
  }
  .signup .button {
    width: 38px;
    font-size: 8px;
  }
}
.featured-art {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured-art .content {
  max-width: 878px;
}
.featured-art .content .quote-head {
  height: 36px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
  margin-top: 95px;
}
.featured-art .content .quote-text {
  height: 53px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 114px;
  text-align: center;
}

.art-images {
  margin: 185px 40px 230px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.art-images div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.art-images .image1 {
  width: 400px;
  height: 360px;
  background-image: url(../images/featured_one.jpg);
}
.art-images .image2 {
  width: 400px;
  height: 360px;
  background-image: url(../images/featured_two.jpg);
}
.art-images .image3 {
  width: 400px;
  height: 360px;
  background-image: url(../images/featured_three.jpg);
}

@media (max-width: 1300px) {
  .art-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .art-images div {
    margin-top: 20px;
  }
}
@media (max-width: 840px) {
  .content h1 {
    padding: 10px;
  }
  .content p {
    padding: 10px;
    max-width: 500px;
  }
}